<div class="banner">

  <div class="title">
    <%= image_tag 'buffalo.png', class: "buffalo_logo" %>
  </div>

  <nav class="menu">
    <ul>
      <li><%= link_to "Schedules", schedules_path %>  </li>
    </ul>
  </nav>

</div>